<%- include('./index'); %>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
   
    </div>
    <div class="row">
        
        <div class="col-sm-3 col-sm-offset-3"></div>
        <div class="col-sm-6 col-sm-offset-3">
        <form method="post" id="passwordForm">
            <div class="col-sm-12">
                <h4>Change Password</h4>
            </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="Current Password" autocomplete="off">
            </div>
            <div class="col-sm-12 mt-3">
                <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="New Password" autocomplete="off">
            </div>
            <div class="col-sm-12 mt-3">
                <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
            </div>
        </div>
        <input type="submit" class="col-xs-12 btn btn-primary btn-load mt-3" data-loading-text="Changing Password..." value="Change Password">
        </form>
        </div>
        <div class="col-sm-3 col-sm-offset-3"></div>
    </div>
</div>