
<html lang="en">
    <meta charset="UTF-8" />

    
<head>
  <%- include('./layout/header'); %>
</head>
<body class="container">

<header>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
  </div>
</main>

<footer>
    <%- include('./layout/footer'); %>
</footer>

</body>
</html>