<!DOCTYPE html>
<html>
<head>
  <title>404 Error</title>
  <style>
    .error-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h1 {
  font-size: 48px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  margin: 20px 0;
}

form {
  display: inline-block;
  margin: 20px 0;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

  </style>
</head>
<body style="padding-top: 100px ;">
  <div class="error-container" >
    <h1>404<br> Page Not Found</h1>
    <form action="/" method="get">
      <input type="text" placeholder="Search...">
      <button type="submit">Search</button>
    </form>
    <p>Or, you can visit some of our popular pages:</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</body>
</html>
