<!DOCTYPE html>
<html>
<head>
	<title>API List - Home Page</title>
	<style>
		body {
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
		}
		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 40px 20px;
			text-align: center;
		}
		h1 {
			font-size: 48px;
			color: #333;
			margin-bottom: 30px;
		}
	
		.api-heading {
  font-family: 'Courier New', monospace;
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.api-subheading {
  font-family: 'Courier New', monospace;
  font-size: 24px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

		a {
			text-decoration: none;
			color: #333;
		}
	</style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="padding-top:100px;">
    <h1 class="api-heading">Welcome to the API List</h1>
    <p class="api-subheading">Here's a list of the APIs we have available:</p>

	</div>
  <div class="container">
		
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>App Name</th>
					<th>Description</th>
					<th>Endpoint</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Comman API</td>
					<td>API for comman-api-related functionality</td>
					<td>/doc/user</td>
					<td><a href="/docs/common">Comman Api</a></td>
				</tr>
				<tr>
					<td>Lost People API</td>
					<td>API for lost-people-related functionality</td>
					<td>/doc/user</td>
					<td><a href="/docs/lost-people">Lost People Api</a></td>
				</tr>
        <tr>
					<td>Secure Chat API</td>
					<td>API for secure chat</td>
					<td>/doc/user</td>
					<td><a href="/docs/secure-chat">Secure Chat Api</a></td>
				</tr>
        <tr>
					<td>Portfolio API</td>
					<td>API for Portfolio</td>
					<td>/doc/portfoio</td>
					<td><a href="/docs/secure-chat">Portfolio Api</a></td>
				</tr>
				<tr>
					<td>Tifin Center API</td>
					<td>API for Tifin Center</td>
					<td>/doc/tific-center</td>
					<td><a href="/docs/tifin-center">Tifin Center Api</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>
