<% layout('index') -%>
  
  
 







 <div class="row">
   <div class="container mt-5">
     <div class="d-flex">
       <div class="col-3 shadow p-3 mb-5 bg-white rounded">
         <div class="card">
           <div class="card-body">
             total earnings1212
           </div>
         </div>
       </div>
 
       <div class="col-3 mx-3 shadow p-3 mb-5 bg-white rounded">
         <div class="card ">
           <div class="card-body ">
             active user
           </div>
         </div>
       </div>
 
       <div class="col-3 shadow p-3 mb-5 bg-white rounded">
         <div class="card">
           <div class="card-body">
             total users
           </div>
         </div>
       </div>
       
     </div>
   </div>
 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <div class="fixed-bottom">
   <footer class="">   
       <p class="text-center text-muted">© 2021 Company, Inc</p>
     </footer>
 </div> 
 
 </body>
 </html>