<% layout('./layout/index') -%>

<div class="container p-5">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class=" py-5 mx-5"> 
        <div class="justify-content-center">
            <form class="form-signin" method="post" name="form" id="form">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in </h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <div class="checkbox mb-3">
                </div>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox mb-3">
                </div>
                <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                
              </form>
    
        </div>
        
        
    </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>


  
