<div class="fixed-bottom">
    <footer class="">   
        <p class="text-center text-muted">© 2021 Company, Inc</p>
      </footer>
</div>
<script src="../../public/js/bootstrap.min.js"></script>
<script src="../../public/js/jquery.dataTables.min.js"></script>
<script src="../../public/js/moment.min.js"></script>
<script src="../../public/js/wizard.min.js"></script>
<script src="../../public/js/tree.min.js"></script>

<script src="../../public/js/spinbox.min.js"></script>
<script src="../../public/js/spin.js"></script>
<script src="../../public/js/prettify.min.js"></script>
<script src="../../public/js/jquery.easypiechart.min.js"></script>
<script src="../../public/js/jquery.dataTables.min.js"></script>

<script src="../../public/js/spinbox.min.js"></script>
<script src="../../public/js/spin.js"></script>
<script src="../../public/js/prettify.min.js"></script>
<script src="../../public/js/jquery-ui.min.js"></script>
<script src="../../public/js/jquery-ui.custom.min.js"></script>

<script src="../../public/js/jquery-2.1.4.min.js"></script>
<script src="../../public/js/jquery-1.11.3.min.js"></script>
<script src="../../public/js/jquery-ui.min.js"></script>

