
<style>
  .sidebar {
position: fixed;
top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
background-color: #f5f5f5;
border-right: 1px solid #eee;
}


</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <i class="fa fa-search"></i> Dashboard 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          
          <i class="fa fa-search"></i> Orders
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
         
          <i class="fa fa-search"></i> Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          
          <i class="fa fa-search"></i> Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          
          <i class="fa fa-search"></i> Reports
        </a>
      </li>      
    </ul>
  </div>
</nav>