
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          <i class="fa fa-search"></i> Dashboard 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">
          
          <i class="fa fa-search"></i> Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages">
         
          <i class="fa fa-search"></i> Pages
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/support">
          
          <i class="fa fa-search"></i> Supports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reports">
          
          <i class="fa fa-search"></i> Reports
        </a>
      </li>      
    </ul>
  </div>
</nav>