<div class="sidebar">
    <div class="slimscroll-menu">
      <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu">
          <li>
            <a href="/">
              <i class="fas fa-user"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/users" data-toggle="collapse" aria-expanded="false">
              <i class="fas fa-user"></i>
              <span> Users  </span>
              <span class="menu-arrow"></span>
            </a>
            <ul class="collapse" id="userSubMenu">
              <li><a href="/users">User 1</a></li>
              <li><a href="/users">User 2</a></li>
              <li><a href="/users">User 3</a></li>
            </ul>
          </li>
          <li>
            <a href="/category">
              <i class="fas fa-user"></i>
              <span>Category</span>
            </a>
          </li>
          <li>
            <a href="/bookings">
              <i class="fas fa-user"></i>
              <span>Bookings</span>
            </a>
          </li>
          <li>
            <a href="/orders" class="userManager">
              <i class="fas fa-user"></i>
              <span> Orders </span>
            </a>
          </li>
         
          <li>
            <a href="/payouts">
              <i class="fas fa-user"></i>
              <span>Payment</span>
            </a>
          </li>
          
         
          <li>
            <a href="/vandors">
              <i class="fe-airplay"></i>
              <span>Vandors</span>
            </a>
          </li>
          <li>
            <a href="/support" class="userManager">
              <i class="fas fa-user"></i>
              <span> Support </span>
            </a>
          </li>
          <li>
            <a href="/pages" class="userManager">
              <i class="fas fa-user"></i>
              <span> Pages </span>
            </a>
          </li>
          <li>
            <a href="/subadmins" class="userManager">
              <i class="fas fa-user"></i>
              <span> Sub-Admins </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  