
<nav id="sidebar" class="">
  <div class="sidebar-header">
      <img src="assets/img/bootstraper-logo.png" alt="bootraper logo" class="app-logo">
  </div>
  <ul class="list-unstyled components text-secondary">
      <li>
          <a href="/dashboard"><i class="fas fa-home"></i> Dashboard</a>
      </li>
      <li>
          <a href="/users"><i class="fas fa-user-friends"></i>Users</a>
      </li>
  </ul>
</nav>