<div class="sidebar">
  <div class="slimscroll-menu">
      <div id="sidebar-menu">
          <ul class="metismenu" id="side-menu">
              <li>
                  <a href="/">
                    <i class="fas fa-user"></i>
                      <span>Dashboard</span>
                  </a>
              </li>
              <li>
                  <a href="/users" class="userManager">
                    <i class="fas fa-user"></i>
                      <span> User </span>
                  </a>
              </li> 
              <li>
                <a href="/">
                    <i class="fas fa-user"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/users" class="userManager">
                    <i class="fas fa-user"></i>
                    <span> User </span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fas fa-user"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/users" class="userManager">
                    <i class="fas fa-user"></i>
                    <span> User </span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fas fa-user"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/users" class="userManager">
                    <i class="fas fa-user"></i>
                    <span> User </span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fe-airplay"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/users" class="userManager">
                    <i class="fas fa-user"></i>
                    <span> User </span>
                </a>
            </li> 
              
          </ul>
      </div>
      
  </div>
</div>