<div class="sidebar-sticky p-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/dashboard">
         
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">
          
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pages">
          
          Pages
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">
          Settings
        </a>
      </li>
    </ul>
  </div>